header.head .ins .lgo_web_header span{
	padding: 0;
}
header.head .ins .lgo_web_header img.lgo2{
	padding-top: 0;
}
header.head .top-menu ul{
	text-align: right;
}
header.head .top-menu ul li:last-child{
	padding-right: 0;
}

/*----------------- Responsive ---------------------*/
@media (max-width: 1280px){
	.container{
		max-width: inherit; width: 100%;
		padding: 0 15px;
	}
}

@media (max-width: 1200px){
	.wrap-slide .camera_wrap{
		/*max-height: 454px !important;*/
	}

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.navbar-default .navbar-brand{
		padding: 0px;
		/*padding-left: 20px;
		padding-top: 5px;*/
	}

}
/* Large desktop */
@media (max-width : 1135px){
	body { 
		width: 100%;
	}
	.container{
		max-width: inherit;
		width: auto;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	.blocks_project_installation .lists_projectInstallation{
		padding: 0 15px;
	}
	header.head .ins .lgo_web_header img.lgo2{
		padding-right: 10px;
		max-width: 100px;
	}
	header.head .ins .lgo_web_header span{
		font-size: 15px;
	}
	
	.lists_news_default .items, .lists_topbg_news_data .items{
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	.lists_topbg_news_data .items .pict img{ width: 100%; }


	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople .lists_defaults_keyPeople .items .top .picture{
		max-width: 90px;
	}
	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople{
		position: relative; top: inherit;
		padding-top: 2.5em;
		padding-bottom: 2em;
	}
	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople .lists_defaults_keyPeople .items .top p{
		padding-top: 35px;
		line-height: 1.2;
		font-size: 13px;
	}
	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople .lists_defaults_keyPeople .items .top p b,
	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople .lists_defaults_keyPeople .items .top p strong{
		font-size: 14px;
	}

	.blocks_managements_about_outer .outer_block_managements{
		background-position: -600px 0px !important;
	}
	
}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

	header.head .top-menu ul li a{
		padding: 6px 10.5px;
	}
	header.head .bottoms_head.back_orange .sub_menu_headProducts ul li{
		padding: 2px 22px 0;
	}

	.box_bannerFeature_product ul.nav-tabs li a{
		font-size: 13px;
	}
	.outers_blocks_top_footers .insides .conts_left p{
		font-size: 19px;
	}
	.outers_blocks_top_footers .insides .conts_left span.sm{
		font-size: 15px;
	}
	.blocks_middle_creamAbout .lists_middlesn_cream .lists .desc.pt_75{
		padding: 50px 0; text-align: center;
	}
	.blocks_middle_creamAbout .lists_middlesn_cream .lists .picts{
		padding-top: 35px;
	}
	.blocks_middle_creamAbout .lists_middlesn_cream .lists .desc ul li{
		text-align: left;
	}

	.blocks_managements_about_outer .outers_block_keyPeople .ins_middle_keyPeople{
		top: inherit; padding-top: 75px;
		position: relative;
	}
	.blocks_managements_about_outer .outer_block_managements{
		background: none; min-height: inherit;
	}

	.lists_dt_news_default .items{
		padding-bottom: 2.5em;
	}
	.brands_lgo_headers{
		padding-right: 0; padding-bottom: 10px;
	}
	.lists_news_default .items .info, 
	.lists_topbg_news_data .items .info{
		padding: 40px 0;
	}
	.block_archives_news .lists_news_default {
		margin: 0 -15px;
	}
	.block_archives_news .lists_news_default .items{
		padding: 0 15px;
	}
	.views_back_olnd{
		padding-top: 30px;
	}
	.blocks_managements_about_outer .outer_block_managements{
		background: none !important;
		background-color: #f5f5f5 !important;
	}
	.blocks_managements_about_outer .outer_block_managements .lefts_contn{
		max-width: inherit;
	}
	.blocks_project_installation{
		min-height: 300px;
	}

	.blocks_managements_about_outer .outer_block_managements .lefts_contn{
		margin-top: 0; text-align: center;
	}


}

@media (max-width : 991px) { 
	
	.navbar-default {
		background-color: #000;
		border-color: #000;
	}

	.navbar-default .navbar-brand{
		margin: 0px;
	}
	.middles_contbottom .lefts_cont{
		padding-right: 0;
	}
	.row-eq-height{
		display: block;
	}
	.content-text p img,
	.content-text img{
		width: auto;
		max-width: 100%;
	}
	.lists_defaults_keyPeople .items{
		padding-bottom: 15px;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    /*.navbar-collapse.collapse {
        display: none!important;
    }*/
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	max-width: 155px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 15px;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	// margin-top: 17px;
    	margin-top: 25px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.2);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	header.head .navbar-nav li a{
		color: #919191;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    background-color: rgba(231, 231, 231, 0.15);
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}
	footer.foot .t_copyrights, footer.foot .t_copyrights2{
		font-size: 13px;
	}

	.left_cont_pictures{}
	.left_cont_pictures .big{}
	.left_cont_pictures .big img{
		width: 100%;
	}
	.left_cont_pictures .thumbs{
		margin-bottom: 2em;
	}
	.left_cont_pictures .thumbs img{
		width: 100%;
	}
	.list_howto_buys_c .items{
		margin-bottom: 1.8em;
	}
	
}

@media (max-width: 979px) {
	
	.outers_blocks_top_footers .insides .conts_left .bxs_form form .form-group input{
		width: 110px; border-radius: 0px;
		font-size: 11px;
	}
	.banner_home1 .list_bannericon_home .items .tops .names{
		font-size: 13px;
	}
	.banner_home1 .list_bannericon_home .items p{
		font-size: 10px;
	}
	.insides_middleDefaultpages .tops_filters_whitProduct_top, .insides_middleProducts .tops_filters_whitProduct_top{
		height: auto;
		padding-bottom: 10px;
	}

	.insides_middleDefaultpages .tops_filters_whitProduct_top .sortings_tproduct_top span,
	.insides_middleDefaultpages .tops_filters_whitProduct_top .sortings_tproduct_top a, 
	.insides_middleProducts .tops_filters_whitProduct_top .sortings_tproduct_top a{
		font-size: 13px;
	}
	.insides_middleProducts .tops_filters_whitProduct_top .breadcrumbs ol.breadcrumb li a,
	.insides_middleProducts .tops_filters_whitProduct_top .breadcrumbs ol.breadcrumb li{
		font-size: 13px;
	}
	.conts_product_details .middles .details_descriptions .height-30{
		height: 15px;
	}
	.outers_listing_newshome .items .desc .titles{
		font-size: 14px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}

	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}

	.banner_home1 .list_bannericon_home{
		padding-bottom: 16px;
	}
	.banner_home1 .list_bannericon_home .items{
		padding-bottom: 15px;
		max-width: 300px;
		margin: 0 auto;
		/*text-align: center;*/
	}
	.banner_home1 .list_bannericon_home .items .tops .names{
		font-size: 15px; text-align: left;
	}
	.banner_home1 .list_bannericon_home .items p{
		font-size: 13px;
	}
	.box_products_banenrhome_carousel{
		padding-top: 15px; padding-bottom: 15px;
	}
	.outers_listing_newshome .items{
		margin-bottom: 2.1em;
	}
	.outers_listing_newshome .items .desc{
		padding-top: 10px;
	}
	.outers_listing_newshome .items .desc span.dates{
		margin-bottom: 15px;
	}
	.outers_blocks_top_footers .insides{
		height: auto;
	}
	.outers_blocks_top_footers .insides .picts_left_thuman{
		position: relative;
		left: -15px;
	}
	.outers_blocks_top_footers .insides .conts_left{
		margin: 0px;
		margin-bottom: 2em;
	}
	.outers_blocks_top_footers .insides .conts_left .bxs_form form .form-group input{
		width: auto;
	}
	footer.foot .logo_footer{
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-top: 5px;
	}
	footer.foot .logo_footer img{
		display: block; margin: 0 auto;
		text-align: center;
	}
	footer.foot .t_copyrights{
		padding-bottom: 25px;
		font-size: 11px;
	}
	footer.foot .t_copyrights, footer.foot .t_copyrights2{
		text-align: center;
	}
	.left_cont_pictures .thumbs img{
		width: auto;
		display: block; margin: 0 auto; text-align: center;
		margin-bottom: 1em;
	}
	section.top_inside_pg_default{
		background-size: cover;
	}
	section.top_inside_pg_default h1.sub_titlepage{
		font-size: 35px;
	}
	.box-form.tl-contact-form form{
		margin: 0 15px;
	}
	.list_locaion_defaults_d .items .item{
		margin-bottom: 1em;
	}
	.listing_product_default_p .items{
		max-width: inherit;
	}
	.listing_product_default_p .items .pict{
		max-width: 234px; margin: 0 auto;
	}
	.boxs_grey_bottomProduct{
		padding-bottom: 25px;
	}
	.sortings_tproduct_top{
		text-align: left;
	}
	.insides_middleProducts .tops_filters_whitProduct_top{
		height: auto;
		padding-bottom: 1em;
	}
	.insides_middleDefaultpages .tops_filters_whitProduct_top .sortings_tproduct_top a, .insides_middleProducts .tops_filters_whitProduct_top .sortings_tproduct_top a{
		font-size: 13px;
	}
	.shares-text span,
	.shares-text a{
		font-size: 11px;
	}
	section.default_sc#block_homesection1{
		height: auto;
	}
	.subpage.static_about .tops_contStatic .outs_breadcrumb.text-right,
	.subpage.static_about .tops_contStatic{
		text-align: center;
	}
	.brands_lgo_headers{
		padding-bottom: 15px;
	}

	.blocks_middle_creamAbout .lists_middlesn_cream .lists .picts{
		max-width: 60%; margin: 0 auto;
	}
	.blocks_middle_creamAbout .lists_middlesn_cream .lists .desc h3{
		line-height: 1.2;
		font-size: 26px;
	}
	.blocks_middle_creamAbout .lists_middlesn_cream .lists .desc ul li{
		font-size: 19px; line-height: normal;
	}
	

	.lists_projectInstallation .items{
		padding: 0 10px;
	}
	.blocks_project_installation h4{
		font-size: 27px;
	}
	.blocks_project_installation .lists_projectInstallation .items .info{
		height: 46px;
	}
	section.default_sc#block_homesection1 .insides p{
		font-size: 17px;
	}
	section.default_sc#block_homesect2 .insides .lists_banner_default.animations .items{
		padding-bottom: 50px;
	}
	.lists_news_default .items .info h3.titles, 
	.lists_topbg_news_data .items .info h3.titles{
		font-size: 22px;
	}
	.lists_news_default .items .info p, 
	.lists_topbg_news_data .items .info p{
		font-size: 15px;
	}
	.lists_news_default .items .info span.dates, 
	.lists_topbg_news_data .items .info span.dates{
		font-size: 17px;
	}
	.lists_news_default .items .pict img{ width: 100%; }
	.lists_news_default .items .info h3.titles{
		height: auto; overflow: inherit;
	}

	.blocks_project_installation .lists_projectInstallation .items .info p{
		line-height: 1.3;
	}
	.blocks_project_installation .lists_projectInstallation .items .info p b, 
	.blocks_project_installation .lists_projectInstallation .items .info p strong{
		font-size: 14px;
	}

	.blocks_middle_creamAbout .height-50{
		height: 20px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

@media (max-width: 359px) {
	
	.blocks_subpage_banner h3.sub_title_p{
		display: none;		
	} 

}