/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,400i,600,600i,700,700i);
// 'Titillium Web', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
// font-family: 'Poppins', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Exo:400,400i,700,700i);
// font-family: 'Exo', sans-serif;

// 992
@Roboto: 'Roboto', sans-serif;
@titilium: 'Titillium Web', sans-serif;
@poppins: 'Poppins', sans-serif;
@exo: 'Exo', sans-serif;

@font_set: 'Titillium Web', 'Exo', sans-serif;

@background: #161616;

/*-------------------------- -- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: #000;
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}

.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1258px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1258px;
        /*width: 1258px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1258px;*/

    max-width: 1258px;
    width: 1258px;
    margin: 0 auto;
    padding: 0px;
}
.container_w2{
  max-width: 1070px;
  margin: 0 auto;
}
.container_header{
  max-width: inherit;
  margin: 0 auto;
  padding: 0 67px;
}
.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.d-inline{
  display: inline-block;
  vertical-align: top;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

// -----------------------------------------------------------
.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  display: inline-block;
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}

.outers_back-header{
  position: absolute;
  // top: 15px;
  top: inherit;
  left: 0px; width: 100%;
  height: auto;
}
header.head{
  position: relative;
  z-index: 15;

  width: 100%;
  height: 85px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    4px 4px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 10px 0px rgba(50, 50, 50, 0.3);
  .visible-lg,
  .container_header{
    height: 100%;
    .ins{
      height: 100%;
    }
  }
  .ins{
    .lgo_web_header{
      position: relative;
      height: 100%;
      padding-top: 4px;
      img.lgo2{
        padding-top: 6px;
      }
      span{
        margin: 0; padding: 0;
        display: inline-block;
        padding-top: 43px;
        font-size: 20px; font-weight: 600; font-style: italic;
        color: #000;
        line-height: 1;
      }
    }
    .rights_header{
      max-width: 475px;
      float: right;
      .tops{
        padding-top: 15px;
        padding-bottom: 8px;
        .brands_lgo_headers{
          display: inline-block;
          padding-right: 30px;
          a{
            height: 24px;
            padding: 2.5px 20px;
            font-size: 13px; font-weight: 600; color: #fff;
            display: inline-block;
            background-color: #152c73;
          }
          a.blue{
            background-color: #152c73;
          }
          a.blue:hover,
          a.blue:focus{
            background-color: #081747;   
          }
          a.red{
            background-color: #ed3237;
          }
          a.red:hover,
          a.red:focus{
            background-color: #D4080D;   
          }
        }
        .box_search_hdr{
          display: inline-block;
          form{
            margin: 0; padding: 0;
            background-color: transparent;
            border: 0px;
            position: relative;
            .form-group{
              margin-bottom: 0;
              input{
                font-size: 13px; font-weight: 600; color: #8b8b8b;
                letter-spacing: 1px;
                border: 0px;
                border-bottom: 1px solid #8b8b8b;
                border-radius: 0px;
                padding-left: 0; padding-right: 0;
                padding-top: 0;
                padding-bottom: 4px;
                height: 28px;
                box-shadow: none;
              }
              input:hover,
              input:focus{
                box-shadow: none;
              }
            }
            button.btn{
              position: absolute;
              right: 0px; top: 0px;
              padding: 0px;
              i.fa{
                font-size: 16px;
                color: #8b8b8b;
              }
            }
          }
          clear: both;
        }
        clear: both;
      }
      .bottoms{
        .bxn_right_language{
          font-size: 13px; font-weight: 600; color: #8b8b8b;
          line-height: 1; text-decoration: none;
          a{
            font-size: 13px; font-weight: 600; color: #8b8b8b;
            line-height: 1; text-decoration: none;
          }
          a.active,
          a:hover{
            text-decoration: none; color: #c61d23;
          }
        }
      }
      clear: both;
    }
    clear: both;
  }

  .top-menu{
      display: inline-block;
      // max-width: 1230px; 
      ul{
        text-align: center; margin: 0px; padding: 0px;
        li{
          // margin: 0; padding: 0px 11px;
          a{
            font-family: @titilium;
            color:#8b8b8b;
            font-size: 13px;
            font-weight: 600;
            text-decoration: none;
          }
        }
        .list-inline-item:not(:last-child){
          margin-right: 1.3rem;
        }
        li:last-child{
          // padding-right: 0;
        }
        li:first-child{
          // padding-left: 0;
        }
        li.active,
        li:hover{
          a{ text-decoration: none; color: #c61d23; }
        }
      }
    }
  // end top menu
  clear: both;  
}
.brands_lgo_headers{
  display: inline-block;
  padding-right: 30px;
  a{
    height: 24px;
    padding: 2.5px 20px;
    font-size: 13px; font-weight: 600; color: #fff;
    display: inline-block;
    background-color: #152c73;
  }
  a.blue{
    background-color: #152c73;
  }
  a.blue:hover,
  a.blue:focus{
    background-color: #081747;   
  }
  a.red{
    background-color: #ed3237;
  }
  a.red:hover,
  a.red:focus{
    background-color: #D4080D;   
  }
}
.bxn_right_language{
  font-size: 13px; font-weight: 600; color: #8b8b8b;
  line-height: 1; text-decoration: none;
  a{
    font-size: 13px; font-weight: 600; color: #8b8b8b;
    line-height: 1; text-decoration: none;
  }
  a.active,
  a:hover{
    text-decoration: none; color: #c61d23;
  }
}

// .header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
// .header-affixs.affix{ top: 0px; left: 0px; }
// .header-affixs{
//     background-color: rgba(255, 255, 255, 0.90);
//     width: 100%;
//     z-index: 1000;
//     height: 75px;
//     border-bottom: 3px solid #835f20;
//     z-index: 1000;
//     .lgo-web-web_affix{
//       a{
//         font-family: @font_set;
//         font-size: 24px; font-weight: 700; color: #252223;
//         text-decoration: none; text-transform: uppercase;
//       }
//     }
// }
// .menu-taffix{
//     text-align: right;
// }
// .menu-taffix ul{ margin: 0; padding: 0px; float: none; }
// .menu-taffix ul li{ padding: 0px; padding: 5px 15px; float: none; display: inline-block; }
// .menu-taffix ul li a{ font-family: @font_set; font-size: 16px; font-weight: 700; display: inline-block; padding-top: 0; color: #000; padding-left: 0; padding-right: 0; text-decoration: none; text-transform: uppercase; }
// .menu-taffix ul li.active a,
// .menu-taffix ul li a:hover{ text-decoration: none; color: #835f20; background-color: transparent; }

.m-0,
h1.m-0{ margin: 0; }

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.outers_fcs_wrapper{
  position: relative; z-index: 2;

  height: 100%;
  // max-height: 583px;
  // min-height: 580px;
  overflow: hidden;
  .carousel{
    height: 100%;
    .carousel-inner{
      height: 100%;
      .item{
        height: 100%;
      }
    }  
  }
  .carousel-inner{
    .item{
      img.full_img{ 
        width: 100%; 
        max-height: 583px;
      }
      .back_shad_left{
        position: absolute;
        left: 0px; top: 0px;
        z-index: 250;
        width: 118px;
        height: 100%;
        background: url(../images/backs_sides_bnslideShow_lefts.jpg) repeat-y;
      }
      .back_shad_right{
        position: absolute;
        right: 0px; top: 0px;
        z-index: 250;
        width: 118px;
        height: 100%;
        background: url(../images/backs_sides_bnslideShow_rights.jpg) repeat-y;
      }
    }
  }
  ol.carousel-indicators{
    bottom: 20px;
    margin: 0;
    width: auto;
    z-index: 300;
    li{
      border: 0px;
      border-radius: 0px;
      width: 9px; height: 8px;
      background: url(../images/toc-fcs.png) no-repeat;
      margin: 0 2.5px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      border-radius: 0px;
      width: 9px; height: 8px;
      background: url(../images/toc-fcs-active.png) no-repeat; 
      margin: 0 2.5px;
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 30%;
      width: 100%;

      .bxsl_tx_fcs{
        max-width: 650px; margin: 0 auto;
        text-align: center;
        h3{
          font-size: 35px; font-weight: 600; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 5px;
        }
        span{
          display: block;
          font-size: 23px; font-weight: 500; color: #fff;
          line-height: 1;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        p{
          font-size: 17px; font-weight: 400; color: #fff;
          line-height: 1.3;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
      }
    }
    img{
      margin: 0;
    }
}

.backs_bottoms_tn_fcs{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 150;
  width: 100%;
  height: 341px;
  background: url(../images/backs_bottom_blockWhite_Fcs.png) no-repeat;
  .inside{
    position: absolute;
    bottom: 80px; width: 100%;
    left: 0;
    text-align: center;
    .txts{
      max-width: 740px;
      margin: 0 auto;
      p{
        margin: 0; padding: 0;
        line-height: 1.3;
        font-size: 24px; font-weight: 400; color: #3a3a3a;
      }
    }
  }
  clear: both;
}

section.default_sc{
  background-color: #fff;
  min-height: 300px; width: 100%;
  .prelatife.container_w2,
  .prelatife.container{
    padding: 4.5em 0;
  }
}

section.default_sc#block_homesection1{
  background-color: transparent; width: 100%; min-height: 400px; height: auto;
  background: url(../images/backs_home_cont1.jpg) center no-repeat;
  min-height: 422px; height: 422px; 
  background-size: cover;
 
  display: table;
  width: 100%; vertical-align: middle;
  text-align: center;
  .insides{
    display: table-cell;
    vertical-align: middle;
    width: 100%; height: 100%; text-align: center;
    p{
      margin: 0; padding: 0;
      font-size: 24px; font-weight: 400; color: #fff;
      line-height: 1.3;
      margin-bottom: 22px;
    }
  }
}

section.default_sc#block_homesect2{
  background-color: #e5e8eb;
  .prelatife.container_w2{
    padding: 75px 0;
  }
  .insides{
    .tops{
      text-align: center;
      h3.s_title{
        margin: 0; padding: 0;
        font-size: 29px; font-weight: 700; color: #1063ac;
        padding-bottom: 15px;
      }
      p{
        margin: 0; padding: 0;
        font-size: 17px; font-weight: 700; color: #323131; 
      }
    }

    .lists_banner_default.animations{
      padding: 0 15px;
      .items:hover .work-img:after {
          background: rgba(136,136,136,0.75);
      }
      .items:hover .work-img>img {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
      }
      .items:hover .work-intro {
          color: #fff;
          -webkit-transform: translateY(-240px);
          -moz-transform: translateY(-240px);
          transform: translateY(-240px);
          z-index: 3;
          h3{
            margin: 0; margin-bottom: 0;
          }
      }
      .items.toshiba:hover .work-intro {
          color: #fff;
          -webkit-transform: translateY(-260px);
          -moz-transform: translateY(-260px);
          transform: translateY(-260px);
          z-index: 3;
          h3{
            margin: 0; margin-bottom: 0;
          }
      }
      .items{
        position: relative;
        overflow: hidden;
        a{
          display: block;
          padding: 0 0 178px 0;
          position: relative;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none;
          .work-img{
            position: relative;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
                width: 100%;
                display: block;
                overflow: hidden;
                  -webkit-transition: all .3s cubic-bezier(0.300,0.100,0.580,1.000);
                  -moz-transition: all .3s cubic-bezier(0.300,0.100,0.580,1.000);
                  -o-transition: all .3s cubic-bezier(0.300,0.100,0.580,1.000);
                  -ms-transition: all .3s cubic-bezier(0.300,0.100,0.580,1.000);
                  transition: all .3s cubic-bezier(0.300,0.100,0.580,1.000);
              }
          }
          .work-img:after{
              content: " ";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(250,250,250,0);
              -webkit-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
              -moz-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
              -o-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
              -ms-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
              transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
          }
          .work-intro{
            width: 100%;
            height: 180px;
            padding: 0px 20px;
            -webkit-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            overflow: hidden;

            -webkit-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
            -moz-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
            -o-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
            -ms-transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
            transition: all .27s cubic-bezier(0.300,0.100,0.580,1.000);
          }
        }
      }
    }
    clear: both;
  }
}

section.default_sc#blocks_section_homeNews{
  .tops_news{
    background-color: #1063ac;
    padding: 13px 0 16px;
    width: 100%;
    height: auto;
    text-align: center;
    h3.sub_title{
      margin: 0; padding: 0;
      line-height: 1;
      font-size: 28px; font-weight: 700; color: #fff;
    }
  }
  .prelatife.container_w2{}
  .insides{
    padding: 0 15px;
    .vws_all_news_bottom{
      a{
        font-family: @poppins; 
        font-weight: 700; color: #0060a3;
        font-size: 12px;
        letter-spacing: 2px;
        padding: 0; text-transform: uppercase;
      }
    }
    clear: both;
  }
  .lists_dt_news_default{
    .items{
      .info{
        h4.titles{
          height: 42px;
          overflow: hidden;
          line-height: 1.4;
        }
      }
    }
  }
  clear: both;
}

.lists_dt_news_default{
  .items{
    .pict{
      img{}
    }
    .info{
      max-width: 330px;
      padding-top: 20px;
      h4.titles{
        margin: 0; padding: 0;
        display: block;
        font-family: @poppins;
        font-size: 15px; font-weight: 500; color: #c61d23;
        margin-bottom: 7px;
      }
      span.dates{
        margin: 0; padding: 0;
        font-family: @poppins;
        font-size: 12px; font-weight: 400; color: #000;
        display: block;
        margin-bottom: 6px;
      }
      p{
        margin: 0; padding: 0;
        font-size: 16px; font-weight: 400; color: #818181;
        line-height: 1.3;
        max-width: 300px;
        margin-bottom: 14px;
      }
      a.btns_more_news:before{
        content: "";
        display: inline-block;
        background: url(../images/icn-more_news.jpg) no-repeat;
        width: 19px; height: 14px;
        margin-top: 0px;
        top: 2px;
        position: relative;
      }
      a.btns_more_news{
        padding: 0;
        font-family: @poppins;
        font-size: 11px; font-weight: 700; color: #c61d23;
      }
    }
  }
  clear: both;
}

.posabs_fulls{
  position: absolute;
  z-index: 60; width: 100%; height: 100%;
  top: 0px; left: 0px;
}


.back-whiteimp{
  background-color: #fff !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

footer.foot{
  position: relative;
  background-color: #161616;
  min-height: 80px;
  height: auto;
  z-index: 1;
  font-family: @poppins;
  font-size: 11px; font-weight: 400; color: rgba(255,255,255, 0.5);
  a{
    text-decoration: none;
    color: rgba(255,255,255, 0.5);
  }
  padding-top: 30px;
  .insides_footer{
    clear: both;
    .socmed_footer{
      a{
        text-decoration: none;
        i.fa{
          font-size: 20px; 
          // color: #6d6d6d;
          color: #f5f5f5;
        }
      }
      a:hover,
      a:focus{
        i.fa-twitter{
          color: #4099FF;
        }
        i.fa-instagram{
          color: #e95950;
        }
        i.fa-facebook-square{
          color: #3b5998;
        }
        i.fa-linkedin{
          color: #0077B5;
        }
        i.fa-youtube{
          color: #bb0000;
        }
      }
    }

  }
  clear: both;
}
// end footer

a.btns_set_default,
button.btns_set_default{
  background: none; border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;

  text-transform: uppercase; font-family: @poppins;
  font-size: 12px; font-weight: 600; color: #fff;
  letter-spacing: 2px;
  padding: 14px 25px;
  background-color: #1063ac;
}
a.btns_set_default:hover,
a.btns_set_default:focus,

button.btns_set_default:hover,
button.btns_set_default:focus{
  opacity: 0.9;
  box-shadow: none; border: 0px;
  outline: none; background-color: #0E5CA1;
  color: #fff;
}

// insides page
section.top_inside_pg_default{
  width: 100%;
  height: 199px;

  // background: url(../images/backs_top_section_insidepage_pttern.jpg) no-repeat;
  position: relative;
  // z-index: 25;
  z-index: 10;  
  background-size: 100% 100%;
  h1.sub_titlepage{
    margin: 0; padding: 0;
    font-size: 54px; font-weight: 500; color: #000; text-align: center;
  }

}

.pict_full{
  img{ width: 100%; max-width: 100%; }
}

.lines-grey{
  height: 2px;
  background-color: #8a8988;
}
.inline-pict{
  display: inline-block;
  vertical-align: middle;
}

.subpage{
  position: relative;
  z-index: 1;
  margin: 0; padding: 0;
  min-height: 450px; height: auto; width: 100%;;
  background-color: #fff;
}
.subpage.static_about{
  .tops_contStatic{
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(139,139,139, 0.5);
    margin-bottom: 50px;
    h2.titles{
      margin: 0; padding: 0;
      text-transform: uppercase;
      font-family: @titilium;
      font-size: 25px; font-weight: 700; color: #000000;
      line-height: 1;
    }
    .outs_breadcrumb{
      .breadcrumb>li+li:before {
          padding: 0 5px;
          color: #8b8b8b;
          content: " | ";
      }
      ol.breadcrumb{
        margin: 0; padding: 0;
        background-color: transparent;
        padding-top: 10px;
        li{
          font-size: 13px; font-weight: 600; color: #8b8b8b;
          a{
            font-size: 13px; font-weight: 600; color: #8b8b8b;
          }
        }
        li:focus,
        li:hover,
        li.active{
          font-size: 13px; font-weight: 600; color: #000; 
          a{
            font-size: 13px; font-weight: 600; color: #000; 
            text-decoration: none;
          }
        }
      }
    }
  }
}

.subpage_outer{
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.blocks_subpage_banner{
  min-height: 450px;
  height: 545px;
  position: relative;
  width: 100%;
  background: url(../images/ill-about-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: table; vertical-align: middle;
  text-align: center;
  .insides{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  h3.sub_title_p{
    margin: 0; padding: 0;
    font-family: @titilium;
    font-size: 34px; font-weight: 700; color: #fff;
    padding-top: 2.8em;
  }
}
.blocks_subpage_banner.about{
  background-image: url(../images/ill-about-1.jpg);
}
.blocks_subpage_banner.news{
  background-image: url(../images/ill-cnews-1.jpg);
}
.blocks_subpage_banner.career{
  background-image: url(../images/ill-career-1.jpg);
}
.blocks_subpage_banner.contact{
  background-image: url(../images/ill-contact-1.jpg);
}

.middles_contbottom{
  .lefts_cont{
    padding-right: 40px;
    margin-top: -5px;
  }
  .picts_about{

  }
  clear: both;
}
.blocks_middle_content.history_block:before{
  display: block;
  content: "";
  width: 100%; height: 100%;
  background: url(../images/backs_block_middle_about.jpg) repeat-y;
  position: absolute;
  left: 0px;
  top: 0px;
}
.blocks_middle_content.history_block{
  .back-grey{
    background-color: #f2f5f8;
  }
  .back-cream{
    background-color: #f3f1e5;
  }
  .back-grey,
  .back-cream{
    padding-top: 50px; padding-bottom: 60px;
    .inside{
      margin: 0;
    }
  }
}
.maw475{
  max-width: 475px;
}
.timesline_blockhistory{
  ul{
    margin: 0; padding: 0;
    list-style: none;
    margin-left: -80px !important;
    li{
      padding: 10px 0;
      line-height: normal;
      a{
        padding: 0;
        cursor: default;
        font-size: 16px; font-weight: 600; color: #000;
        span{
          margin-bottom: 0;
        }
        i.lines_1{
          display: inline-block; content: "";
          width: 44px; height: 2px;
          background: url(../images/lines-history-1.jpg) no-repeat;
          vertical-align: middle;
          margin: 0 15px;
        }
        span.year{
          display: inline-block; vertical-align: top;
          font-size: 18px; font-weight: 600; color: #000;
        }
        span.month{
          display: inline-block; vertical-align: top;
          padding-right: 17px;
          font-size: 18px; font-weight: 700;
          color: #7a7a7a;
        }
        div.info{
          display: inline-block; vertical-align: top;
          font-size: 16px; font-weight: 600;
          color: #000;
          // float: left;
          max-width: 445px;
        }
      }
      ul.dropdown-menu{
        display: block;
        background: transparent; background-color: transparent;
        box-shadow: none; border: 0px; border-radius: 0px;
        float: none;
        position: relative;
        top: inherit; left: inherit;
        margin-left: 80px !important;
        padding: 10px 0;
        li{
          padding: 5px 0;
          a{
            padding: 0;
            cursor: default;
            font-size: 16px; font-weight: 600; color: #000;
            span{
              margin-bottom: 0;
            }
            i.lines_2{
              display: inline-block; content: "";
              width: 22px; height: 2px;
              background: url(../images/lines-history-2.jpg) no-repeat;
              vertical-align: middle;
              margin: 0 15px 0 0;
            }
            span.year{
              font-size: 18px; font-weight: 600; color: #000;
            }
            span.month{
              display: inline-block;
              padding-right: 17px;
              font-size: 18px; font-weight: 700;
              color: #7a7a7a;
            }
          }
        }
        li:hover,
        li:focus{
          background: none; background-color: transparent;
          a{
            background: none; background-color: transparent;
          }
        }
      }
    }
  }
}

.block_about_vision{
  width: 100%;
  background: url(../images/backs_about_bottom_pn.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 550px;
  height: 600px;
  .cont_vision{
    .texts{
      padding: 0 20px;
      h5{
        margin: 0; padding: 0;
        font-family: @titilium;
        font-size: 25px; font-weight: 700; color: #fff; text-transform: uppercase;
        margin-bottom: 30px;
      }
      p{
        margin: 0; padding: 0;
        font-family: @titilium;
        font-size: 29px; font-weight:400; color: #fff;
        line-height: 1.2;
      }
    }
    clear: both;
  }
  .bdr_right{
    background: url(../images/separator_vision.png) top right no-repeat;
    height: 312px;
  }
}

// list news default
.lists_news_default,
.lists_topbg_news_data{
    .items{
      padding-bottom: 50px;
      border-bottom: 1px solid #c5c5c5;
      margin-bottom: 55px;
      .pict{
        img{}
      }
      .info{
        h3.titles{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 35px; font-weight: 700; color: #c61d23;
          line-height: 1.3;
          margin-bottom: 2px;

          height: 46px;
          overflow: hidden;
        }
        span.dates{
          display: block;
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 20px; font-weight: 400; color: #000000;
          padding-bottom: 6px;
        }
        p{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 24px; font-weight: 400; color: #818181;
          line-height: 1.3;
          margin-bottom: 20px;
        }
        a{
          padding: 0px;
          line-height: 1;
          font-family: @poppins;
          font-size: 14px; font-weight: 700; color: #c61d23;
          img{
            display: inline-block;
             padding-right: 10px;
             position: relative;
             top: -2px;
          }
        }
        a:hover,
        a:focus{
          text-decoration: none;
        }
      }
      clear: both;
    }
    .items:last-child{
      border-bottom: 0;
      margin-bottom: 10px;
    }
  clear: both;
}

.lists_topbg_news_data{
  .items{
      .info{
        h3.titles{
          height: auto; overflow: inherit;
        }
      }
    }
}

.details_news{
  .info{
        h3.titles{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 30px; font-weight: 700; color: #c61d23;
          line-height: 1.2;
          padding-bottom: 2px;
        }
        span.dates{
          display: block;
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 16px; font-weight: 400; color: #000000;
          padding-bottom: 20px;
        }
        p{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 17px; font-weight: 400; color: #818181;
          line-height: 1.3;
          margin-bottom: 20px;
        }
      }
}

.block_archives_news{
  .top{
    h3{
      margin: 0; padding: 0; line-height: 1;
      font-family: @titilium;
      font-size: 25px; font-weight: 700; color: #000;
    }
    // padding: 22px 0;
    padding: 12px 0;
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
  }
  .lists_news_default{
    .items{
      padding: 0 5px;
      margin-bottom: 30px !important;
      .info{
        padding-top: 12px;
        .info{
          h3.titles{
            font-size: 16px;
          }
          a{
            font-size: 12px;
          }
        }
      }
    }
  }
}

.lists_news_default{
    .items{
      padding-bottom: 0px;
      border-bottom: 0px;
      max-width: 403px;
      margin-bottom: 55px !important;
      .pict{
        max-width: 403px;
        max-height: 185px;
        overflow: hidden;
        img{ width: 100%; }
      }
      .info{
        padding-top: 25px;
        h3.titles{ 
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 18px; font-weight: 700; color: #c61d23;
          // line-height: 1.2;
          padding-bottom: 2px;
          margin-bottom: 5px;
        }
        span.dates{
          display: block;
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 14px; font-weight: 400; color: #000000;
          padding-bottom: 2px;
        }
        p{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 18px; font-weight: 400; color: #818181;
          line-height: 1.3;
          margin-bottom: 15px;
        }
        a{
          padding: 0px;
          line-height: 1;
          font-family: @poppins;
          font-size: 14px; font-weight: 700; color: #c61d23;
          img{
            display: inline-block;
             padding-right: 10px;
             position: relative;
             top: -2px;
          }
        }
        a:hover,
        a:focus{
          text-decoration: none;
        }
      }
      clear: both;
    }
  clear: both;
}
.content-text.pg_career{
  h3{
    font-size: 35px; color: #000; font-weight: 700;
    font-family: @titilium;
    margin-bottom: 15px; 
  }
  p{
    font-size: 19px; color: #818181; font-weight: 400;
    font-family: @titilium;
  }
}

.blocks_contact_pg{
  text-align: left;
  .lefts_c{
    p{
      margin: 0; padding: 0;
      font-family: @titilium;
      font-size: 17px; font-weight: 400; color: #818181;
      line-height: 1.3;
      margin-bottom: 28px;
      a.vw_phone{
        font-family: @titilium;
        font-weight: 700; font-size: 17px; color: #ed3237;
        text-decoration: none;
      }
      a{
       font-family: @titilium;
        font-weight: 400; font-size: 17px;
        text-decoration: none;
      }
      a:hover{
        color: #000;
      }
    }
  }
  .rights_c{

  }
  clear: both;
}


.box-form.tl-contact-form{
  // max-width: 845px; 
  // min-width: 845px;
  // float: right;
  background-color: transparent;
  text-align: left;
  form{
    .form-group{ 
      margin-bottom: 23px;
      label{
        font-family: @titilium; font-weight: 700; color: #000;
        font-size: 15px;
        margin-bottom: 3px; text-align: left;
      }
      input{
        border:0px;
        background: none; background-color: #f3f3f3;
        border-bottom: 0px; border-radius: 0px;
        text-shadow:none; box-shadow: none;
        font-size: 13px;
      }
      textarea{
        margin: 0;
        background: none;
        background-color: #f3f3f3;
        border: 0px;
        box-shadow: none;
        border-bottom:0;
        text-align: left;
        border-radius: 0px;
      }
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;

      width: 180px; height: 22px;
      background: url(../images/backs_btn_submitsContact.png) no-repeat;
      padding-top: 5px;
      // text-transform: uppercase; font-family: @font_set;
      // font-size: 19px; font-weight: 700; color: #fff;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
    }
  }
}

.blocks_managements_about_outer{
  .outer_block_managements{
    // min-height: 653px;
    min-height: 500px;
    height: auto;
    width: 100%;
    background:#fcf9fa url(../images/blocks_about_bottom_keyBack.jpg) top center no-repeat;
    h4{
      margin: 0; padding: 0;
      line-height: 1.2;
      margin-bottom: 23px;
      font-size: 30px; font-weight: 400; color: #000;
    }
    h5,
    h6{
      margin: 0; padding: 0;
      line-height: 1.3;
      margin-bottom: 22px;
      font-size: 24px; font-weight: 400; color: #000;
    }
    p{
      margin: 0; padding: 0;
      line-height: 1.4;
      margin-bottom: 0px;
      font-size: 16px; font-weight: 400; color: #000;
    }
    .lefts_contn{
      max-width: 60%;
      margin-top: 12%;
    }
  }
  .outers_block_keyPeople{
    // min-height: 485px;
    min-height: inherit;
    height: auto;
    width: 100%;
    background-color: #edf2f6;
    min-height: 120px;

    .ins_middle_keyPeople{
      // position: relative;
      position: absolute; width: 100%;
      z-index: 15;
      top: -135px;
      h4{
        margin: 0; padding: 0;
        line-height: 1.2;
        margin-bottom: 23px;
        font-size: 30px; font-weight: 400; color: #000;
      }

      .lists_defaults_keyPeople{
        .items{
          .top{
            .picture{
              float: left; margin-right: 12px;
              img{}
            }
            p{
              margin: 0; padding: 0; line-height: 1.4;
              padding-top: 90px;
              font-size: 15px; font-weight: 400; color: #000;
              font-style: italic;
              b,strong{
                font-weight: 700; color: #000; font-style: normal;
              }
            }
          }
          p{
            margin: 0; padding: 0; line-height: 1.4;
            font-size: 14px; font-weight: 400; color: #000;
            font-style: normal;
          }
        }
        clear: both;
      }
      // end List key people
    }

  }
  clear: both;
}

.blocks_project_installation{
  background-color: #45494d;
  min-height: 350px;
  height: auto;
  padding: 70px 0 50px;

  h4{
    margin: 0; padding: 0;
    line-height: 1.2;
    margin-bottom: 40px !important;
    font-size: 30px; font-weight: 400; color: #fff;
  }

  .lists_projectInstallation{
    ul{
      margin: 0; padding: 0;
      list-style: none;
      li{
        list-style: none;
        padding: 0;
      }
    }
    .items{
      .pict{
        img{}
        margin-bottom: 13px;
      }
      .info{
        text-align: center;
        p{
          margin: 0; padding: 0;
          font-size: 16px; font-weight: 400; color: #fff;
          font-style: italic;
          b,strong{
            font-size: 16px; 
            font-weight: 700;
            color: #fff; font-style: normal;
          }
        }
      }
      padding: 0 10px;
      padding-bottom: 20px;
    }
    clear: both;
  }
  // list project Installation

  clear: both;
}

.blocks_carrer_post{
  .top{
    h5{
      margin: 0; padding: 0;
      letter-spacing: 1px;
      font-size: 17px; font-weight: 700; color: #000; text-transform: uppercase;
      line-height: 1;
    }
    clear: both;
  }

  .data_middles{
    padding-bottom: 40px;
    .tops_d{
      padding: 0 15px;
      height: 41px;
      border-top: 1px solid #69950a;
      border-bottom: 1px solid #bababa;
      font-size: 13px; font-weight: 700; color: #000;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-top: 10px;
    }
    .col-md-8{
      text-align: left;
      padding-left: 5px;
    }

    .panel-group{
      .panel.panel-default{
        border-radius: 0px; border: 0px;
        background-color: transparent;
        .panel-heading{
          border-bottom:1px solid #bababa;
          background-color: transparent;
          height: 41px;
          padding-top: 12px;
          h4.panel-title{
            margin: 0; padding: 0;
            margin-bottom: 0;
          }
          font-size: 13px; font-weight: 400; color: rgba(0,0,0, 0.9);
          text-transform: capitalize;
        }
        .panel-body{
          border-top: 0px;
          // ul li,
          p{
            margin: 0; padding: 0;
            margin-bottom: 16px; text-align: left;
            font-size: 13px; font-weight: 400; color: #000; line-height: 1.4;
          }
          ul li{
            text-align: left;
          }
        }
        clear: both;
      }
      
    }
    clear: both;
  }
  clear: both;
}

.blocks_middle_creamAbout{
  background-color: #f2f5f8;
  min-height: 500px; height: auto;
  .insides{
    padding: 0;
  }

.lists_middlesn_cream{
  .lists{
    .picts{
      img{}
    }
    .desc{
      h3{
        margin: 0; padding: 0;
        line-height: 0.9;
        font-size: 35px; font-weight: 600; color: #1063ac;
      }
      clear: both;
      ul{
        margin-top: 10px;
        li{
          padding: 1px 0;
          line-height: normal;
          font-size: 25px; font-weight: 400; color: #000;
        }
      }
      .subs_lists_item{
        .lists{
          text-align: center;
          .pict{
            padding-bottom: 12px;
          }
          p{
            text-align: center;
            font-size: 25px; font-weight: 400;
            color: #1063ac;
            line-height: 1.1;
          }
        }
      }
      clear: both;
    }
    .col-md-8{
      border-bottom: 2px solid #b4b7b9;
    }
    .desc.pt_75{
      padding-top: 75px;
    }
  }
  .no_border{
    .col-md-8{
      border-bottom: 0;
    }
  }
}

  clear: both;
}
.lg-sub-html h4{
  font-size: 15px !important;
}

/*----------------------- Midle Text Content -----------------*/
.content-text{
      font-family: @font_set;
      font-weight: 400;
      font-size: 19px;
      color: #000;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @font_set; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{  }
  .content-text h2{  }
  .content-text h3{ clear: both; margin: 0px; margin-bottom: 23px; font-size: 30px; font-family: @font_set; font-weight: 400; color: #000; line-height: 1.3; }
  .content-text h4{}
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 5px; font-size: 28px; font-family: @font_set; font-weight: 700; color: #464646; line-height: 1.2; }
  .content-text h6{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 24px; font-family: @font_set; font-weight: 500; color: #000; line-height: 1.3; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @font_set;
      font-weight: 400;
      font-size: 19px;
      color: #000;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: none;
      color: #636363;
  }
  .content-text span.br5{
    clear: both; margin-bottom: 0;
    height: 5px;
  }
  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-family: @font_set;
      font-weight: 500;
      font-size: 16px;
      color: #636363;
  }
  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    li{
      padding: 3px 0; line-height: 1.4;
    }
  }

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}


.out_table{
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  .in_table{
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      width: 100%;
      height: 100%;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}


.boxeds_list_c_panel{
  .panel-default{
    .panel-heading{
      h4.panel-title{
        a{
          color: #111;
          text-decoration: none;
        }
        font-size: 15px;
        font-weight: 400;
        color: #111;
      }
      font-size: 15px;
      font-weight: 400;
      color: #111;
      clear: both;

      padding-left: 15px;
      padding-right: 15px;
    }
    .panel-body{
      padding: 15px;
    }

    font-size: 15px;
    font-weight: 400;
    color: #111;
    clear: both;
  }
  clear: both;
}

nav.navbar{
  button.navbar-toggler{
    border: 0;
    padding-right: 0;
  }
  button.navbar-toggler:focus,
  button.navbar-toggler:hover{
    outline: none; border: 0;
  }

  clear: both;
}

.lists_defaults_keyPeople{
  .items{

    clear: both;
  }
}

.col-md-25{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.blocks_project_installation{
  .lists_projectInstallation{
    ul{
      margin: 0;
      li{
        float: left;
        width: 25%;
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 1380px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

  .content-text p{
    font-size: 16px;
  }
  .content-text h3{
    font-size: 24px;
  }

  .blocks_project_installation .lists_projectInstallation .items .info{
    height: 35px;
  }
  .blocks_project_installation .lists_projectInstallation .items .info p{
    line-height: 1.3;
  }
  .blocks_project_installation .lists_projectInstallation .items .info p b, 
  .blocks_project_installation .lists_projectInstallation .items .info p strong{
    font-size: 14px;
  }
  .lists_dt_news_default .items .info p{
    font-size: 13px;
  }

  .lists_news_default .items .info p, 
  .lists_topbg_news_data .items .info p{
    font-size: 18px;
  }
  // .lists_news_default .items .info h3.titles, 
  .lists_topbg_news_data .items .info h3.titles{
    font-size: 28px;
    line-height: 1.2;
  }

}

@media screen and (max-width: 991px) {
  
  .middles_contbottom .lefts_cont{
    padding-right: 1rem !important;
  }

  .blocks_middle_creamAbout .lists_middlesn_cream .lists .picts{
    text-align: center;
    display: block; margin: 0 auto;
  }

}

@media screen and (max-width: 767px) {
  
  .subpage.static_about .tops_contStatic .outs_breadcrumb.text-right.float-right{
    float: none !important;
  }

  .blocks_project_installation{
    .lists_projectInstallation{
      ul{
        li{
          width: 50%;
          margin: 0;
        }
      }
    }
  }

  .col-md-25{
      -ms-flex: 0 0 50 %;
      flex: 0 0 50%;
      max-width: 50%;
  }

  .backs_bottoms_tn_fcs .inside .txts p{
    font-size: 20px;
  }
  .backs_bottoms_tn_fcs .inside .txts{
    padding: 0 15px;
  }

  .box-form.tl-contact-form form .fright{
    float: none !important;
    margin: 1rem 0;
  }

  .box-form.tl-contact-form form button.btns-submit-bt{

  }

}